In [1]:
import pandas as pd
import numpy as np
import io
import json

from yelp.client import Client
from yelp.oauth1_authenticator import Oauth1Authenticator

In [3]:
# read yelp API keys
with io.open('../../yelp_config_secret.json') as cred:
    creds = json.load(cred)
    auth = Oauth1Authenticator(**creds)
    client = Client(auth)

In [8]:
# a Yelp API test call
category = 'italian'
stat_lat = 40.840719
stat_long = -73.939561
params = {
    # half mile radius (800 meters)
    'radius_filter': 800,
    'category_filter': category
}
search_result = client.search_by_coordinates(stat_lat, stat_long, **params)
search_result.businesses[0].name

u'Antika Restaurant & Pizzeria'

In [9]:
raw_stations = pd.read_csv('http://web.mta.info/developers/data/nyct/subway/StationEntrances.csv')

In [13]:
# only concerned about A-train stations
stations = raw_stations[raw_stations.Route_1 == 'A']
# most stations have 2-4 entrances; we only want one record per station
stations = stations.groupby('Station_Name').max()

stations['Station_Name'] = stations.index
# sort (roughly) from North to South (imperfect)
stations = stations.sort_values('Station_Latitude', ascending=False)

stations = stations.loc[:, ['Station_Latitude', 'Station_Longitude', 'Station_Name']]

# re-index
stations['station_id'] = np.arange(0, len(stations))
stations.set_index('station_id', inplace=True)

stations.columns = ['lat', 'long', 'name']

In [23]:
# We're only going to use regular A-train express stops, 
# and we want the station index to match the physical order of train stations.
# This is easier done in excel, then re-imported as 'stations_ordered'

stations.to_csv('../../data/atrain/stations_unordered.csv')

stations_ordered = pd.read_csv('../../data/atrain/stations.csv', index_col=0)
stations = stations_ordered
stations.head()

                  lat       long                 name
station_id
0           40.868072 -73.919899    Inwood - 207th St
1           40.865491 -73.927271  Dyckman St-200th St
2           40.859022 -73.934180             190th St
3           40.851695 -73.937969             181st St
4           40.847391 -73.939704             175th St

In [21]:
# bring in the food type table (created in excel due to a manual and highly subjective sorting process...)
categories = pd.read_csv('../../data/atrain/categories.csv', index_col=0)
categories.head()

                category parent_category
category_id
0              caribbean       caribbean
1              dominican       caribbean
2                haitian       caribbean
3            puertorican       caribbean
4            trinidadian       caribbean

In [31]:
# keep an eye on total Yelp API calls; only allowed 25K /day
# should make: 116 categories x 46 stations = 5,336 calls
api_call_count = 0

In [33]:
station_joint_map = [] #'station_id', 'joint_id'
joint_category_map = [] #'joint_id', 'category_id'
joints = [] #'joint_id', 'name', 'address'

# iterate through each station location
for station_id, station in stations.iterrows():
    stat_lat, stat_long, stat_name = station
    # iterate through each food category
    for category_id, category in categories.iterrows():
        cat = category[0]
        
        # yelp search API parameters
        params = {
            # half mile radius (800 meters)
            'radius_filter': 800,
            'category_filter': cat
        }
        search_result = client.search_by_coordinates(stat_lat, stat_long, **params)
        api_call_count += 1
        
        if len(search_result.businesses) == 0:
            # no results
            pass
        else:
            for joint in search_result.businesses:
                # sometimes the restaurant address is empty
                if joint.location.address:
                    # building joint directory
                    joints.append({'joint_id': joint.id, 'name': joint.name, 'address': joint.location.address[0]})
                else:
                    joints.append({'joint_id': joint.id, 'name': joint.name, 'address': 'no_address'})
                
                # building station-joint and joint-category mapping tables, joint by joint
                station_joint_map.append({'station_id': station_id, 'joint_id': joint.id})
                joint_category_map.append({'joint_id': joint.id, 'category_id': category_id})

    print 'API call count:', api_call_count

station_joint_map_df = pd.DataFrame(station_joint_map)
joint_category_map_df = pd.DataFrame(joint_category_map)
joints_df = pd.DataFrame(joints)

API call count: 116
API call count: 232
API call count: 348
API call count: 464
API call count: 580
API call count: 696
API call count: 812
API call count: 928
API call count: 1044
API call count: 1160
API call count: 1276
API call count: 1392
API call count: 1508
API call count: 1624
API call count: 1740
API call count: 1856
API call count: 1972
API call count: 2088
API call count: 2204
API call count: 2320
API call count: 2436
API call count: 2552
API call count: 2668
API call count: 2784
API call count: 2900
API call count: 3016
API call count: 3132
API call count: 3248
API call count: 3364
API call count: 3480
API call count: 3596
API call count: 3712
API call count: 3828
API call count: 3944
API call count: 4060
API call count: 4176
API call count: 4292
API call count: 4408
API call count: 4524
API call count: 4640
API call count: 4756
API call count: 4872
API call count: 4988
API call count: 5104
API call count: 5220
API call count: 5336

In [43]:
# de-dupe and clean up the joints table
joints_df.drop_duplicates(inplace=True)
joints_df.reset_index(inplace=True, drop=True)
joints_df.index.name = 'joint_int_id'
joints_df.columns = ['address', 'joint_str_id', 'name']
joints_df.head()

,address,joint_str_id,name
joint_int_id,,,
0,565 W 207th St,raices-new-york,Raices
1,500 W 207th St,el-lina-restaurant-manhattan,El Lina Restaurant
2,512 W 207th St,johns-fried-chicken-new-york,John's Fried Chicken
3,101 Dyckman St,dyckman-express-restaurant-new-york,Dyckman Express Restaurant
4,5085 Broadway,la-essencia-restaurant-new-york-2,La Essencia Restaurant

In [49]:
joint_category_map_df.head()

   category_id                             joint_id
0            0                      raices-new-york
1            0         el-lina-restaurant-manhattan
2            0         johns-fried-chicken-new-york
3            0  dyckman-express-restaurant-new-york
4            0    la-essencia-restaurant-new-york-2

In [ ]:
# we want to use joint_int_id in mapping tables, not the str_id
joints_temp = joints_df
joints_temp['joint_int_id'] = joints_temp.index

In [51]:
# join mapping table to joints table to retrieve joint_int_id
joint_category_map_df = joint_category_map_df.merge(joints_temp, how='left', left_on='joint_id', right_on='joint_str_id')
joint_category_map_df.drop(['joint_id', 'address', 'joint_str_id', 'name'], axis=1, inplace=True)
joint_category_map_df.drop_duplicates(inplace=True)
joint_category_map_df.reset_index(inplace=True, drop=True)
joint_category_map_df.index.name = 'category_joint_id'
joint_category_map_df.head()

                   category_id  joint_int_id
category_joint_id
0                            0             0
1                            0             1
2                            0             2
3                            0             3
4                            0             4

In [53]:
# same process with the station-joint mapping table
station_joint_map_df = station_joint_map_df.merge(joints_temp, how='left', left_on='joint_id', right_on='joint_str_id')
station_joint_map_df.drop(['joint_id', 'address', 'joint_str_id', 'name'], axis=1, inplace=True)
station_joint_map_df.drop_duplicates(inplace=True)
station_joint_map_df.reset_index(inplace=True, drop=True)
station_joint_map_df.index.name = 'station_joint_id'
station_joint_map_df.head()

                  station_id  joint_int_id
station_joint_id
0                          0             0
1                          0             1
2                          0             2
3                          0             3
4                          0             4

In [129]:
joints_df.to_csv('../../data/atrain/joints.csv', index=True, encoding='utf-8')
categories.to_csv('../../data/atrain/categories.csv', index=True, encoding='utf-8')
stations.to_csv('../../data/atrain/stations.csv', index=True, encoding='utf-8')
station_joint_map_df.to_csv('../../data/atrain/station_joint_map.csv', index=True, encoding='utf-8')
joint_category_map_df.to_csv('../../data/atrain/joint_category_map.csv', index=True, encoding='utf-8')

In [ ]:
#station_joint_map_df.head(20)
#joint_category_map_df.head(20)
#joints_df.head(20)
#categories.head(20)
#stations.head(20)